In [15]:
import pymssql as sql

In [2]:
conn = sql.connect(server = '192.168.149.10', user = 'sa', password = 'Hkhnhan1994', database = 'master')

NameError: name 'sql' is not defined

In [1]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [ ]:
query="""
    SELECT TABLE_NAME 
    FROM [<DATABASE_NAME>].INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_TYPE = 'BASE TABLE'
"""

In [ ]:
SELECT TABLE_NAME 
FROM [<DATABASE_NAME>].INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE'

In [ ]:
sql_fetch = """SELECT table_name \
            FROM information_schema.tables \
            WHERE (table_schema = %(table_schema)s
            AND table_type = 'BASE TABLE') \
            ORDER BY table_schema, table_name;"""

In [ ]:
cursor.execute(query)

In [ ]:
for row in cursor:
    print(row)

('db_accessadmin', 16385, 'db_accessadmin')
('db_backupoperator', 16389, 'db_backupoperator')
('db_datareader', 16390, 'db_datareader')
('db_datawriter', 16391, 'db_datawriter')
('db_ddladmin', 16387, 'db_ddladmin')
('db_denydatareader', 16392, 'db_denydatareader')
('db_denydatawriter', 16393, 'db_denydatawriter')
('db_owner', 16384, 'db_owner')
('db_securityadmin', 16386, 'db_securityadmin')
('dbo', 1, 'dbo')
('guest', 2, 'guest')
('INFORMATION_SCHEMA', 3, 'INFORMATION_SCHEMA')
('sys', 4, 'sys')

In [ ]:
cursor.close()
conn.close()

In [ ]:
%load_ext sql

In [ ]:
user = 'sa'
password = 'Hkhnhan1994'
hostname = '192.168.149.10:1433'
database = 'master'
connection_string = "mssql+pymssql://{user}:{password}@{hostname}/{database}?charset=utf8".format(user=user, password=password, hostname=hostname, database=database)

In [ ]:
%sql $connection_string

In [ ]:
import pandas as pd

In [ ]:
result = %sql select @@SERVICENAME
df = pd.DataFrame(result)

 * mssql+pymssql://sa:***@192.168.149.10:1433/master?charset=utf8
Done.

In [ ]:
df

0  MSSQLSERVER

In [ ]:
result = %sql SELECT s. name AS schema_name,s.schema_id,u.name AS schema_owner FROM sys. schemas s INNER JOIN sys. sysusers u ON u. uid = s. principal_id ORDER BY s. name
df1 = pd.DataFrame(result)
df1

 * mssql+pymssql://sa:***@192.168.149.10:1433/master?charset=utf8
Done.

           schema_name  schema_id        schema_owner
0       db_accessadmin      16385      db_accessadmin
1    db_backupoperator      16389   db_backupoperator
2        db_datareader      16390       db_datareader
3        db_datawriter      16391       db_datawriter
4          db_ddladmin      16387         db_ddladmin
5    db_denydatareader      16392   db_denydatareader
6    db_denydatawriter      16393   db_denydatawriter
7             db_owner      16384            db_owner
8     db_securityadmin      16386    db_securityadmin
9                  dbo          1                 dbo
10               guest          2               guest
11  INFORMATION_SCHEMA          3  INFORMATION_SCHEMA
12                 sys          4                 sys