In [2]:
import logging
import urllib
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import pymssql
import pandas as pd
from datetime import datetime, timedelta
from jinja2 import Template

server = '192.168.149.10'
user = 'sa'
password = 'Hkhnhan1994'
database = 'example1'
port=1433
charset='utf8'

conn = pymssql.connect(server = server, user = 'sa', password = password,port=port, database = database)

In [3]:
query="""SELECT TABLE_NAME \
    FROM {db}.INFORMATION_SCHEMA.TABLES \
    WHERE TABLE_TYPE = 'BASE TABLE'"""

In [5]:
cursor=conn.cursor()
cursor.execute(query.format(db="example1"))
tables = cursor.fetchall()
tables = [table[0] for table in tables]
print(tables)
cursor.close()
conn.commit()

['emp', 'dept']

In [6]:
connectionString = (
            "mssql+pymssql://{user}:{password}@{hostname}:{port}/{db}?charset={charset}".format(
                user=user,
                password=password,
                hostname=server,
                db=database,
                port=port,
                charset=charset
            )
        )
engine = create_engine(connectionString)

In [9]:
sql_fetch = "SELECT \
            column_name, data_type \
            FROM  {db}.INFORMATION_SCHEMA.COLUMNS \
            WHERE table_name = '{table_name}'"

con = engine.connect()
schema = con.execute(
sql_fetch.format(db="example1",table_name="emp")
).all()
schema = [dict(row) for row in schema]
print(schema)

[{'column_name': 'empno', 'data_type': 'int'}, {'column_name': 'ename', 'data_type': 'varchar'}, {'column_name': 'job', 'data_type': 'varchar'}, {'column_name': 'mgr', 'data_type': 'int'}, {'column_name': 'hiredate', 'data_type': 'datetime'}, {'column_name': 'sal', 'data_type': 'numeric'}, {'column_name': 'comm', 'data_type': 'numeric'}, {'column_name': 'dept', 'data_type': 'int'}]